.heading{
    font-size: 36px;
    color: #333;
}

.button{
    margin: 10px auto 10px;
    text-transform: none;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main_container{
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

.fields{
    margin: 10px 20% 10px;
}

@media screen and (min-width: 1000px){
    .fields{
        margin: 10px 30% 10px;
    }
}

@media screen and (max-width: 999px){
    .fields{
        margin: 10px auto 10px;
        width: 400px;
    }
}

