.button {
    color: #f5ba13;
    border: none;
    width: 40px !important;
    height: 40px !important;
    cursor: pointer;
    outline: none;
    padding: 0px;
    border-radius:100px;
}

.button:hover{
    box-shadow: 0 0 1px 2px #c08d01;
    transition: all 300ms ease-out;
}

.sweetalert-modal{
    z-index:1500;
}


.text_field{
    margin-bottom:40px;
}
